
.article {
    &__postDate {
        margin-bottom: 8px;
    }
    &__title {
        font-size: 3.2rem;
        font-weight: bold;
        margin-bottom: 30px;
        line-height: 1.5;
    }

    &__eyecatch {
        margin-bottom: 60px;
        > img { 
            width: 100%
        };
    }

    &__main {
        margin-bottom: 100px;
        &__inner {
            position: relative;
            padding: 60px 20px 0px;
            max-width: 1200px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 0.4fr 12fr 4fr;
            gap: 60px;
            .tocWrap {
                > h3 {
                    font-size: 2.2rem;
                    font-weight: bold;
                    line-height: 2;
                    margin-bottom: 16px;
                    background-size: 100% 3px;
                    background-image: linear-gradient(90deg, rgb(239, 98, 98) 0%, rgb(239, 98, 98) 22%, rgb(29, 91, 121) 22%, rgb(29, 91, 121) 100%);
                    background-repeat: no-repeat;
                    background-position: bottom;
                }
                font-size: 1.5rem;
                line-height: 1.6;
                top: 0;
                position: sticky;
                z-index: 0;
                height: fit-content;

            }
        }

        &__body {
            background: var(--bg-white);
            margin-bottom: 80px;
        }
    }

    &__footer {
        &__recommend {
            margin-bottom: 60px;
        }
        &__recommend_title {
            font-size: 2.6rem;
            font-weight: bold;
            text-align: center;
            position: relative;
            width: fit-content;
            margin: 0 auto 40px;
            padding: 12px 16px;
            border-bottom: 2px solid #333333;
            background-color: var(--bg-white);

            &:before {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 50%;
                width: 15px;
                height: 15px;
                box-sizing: border-box;
                background-color: var(--bg-white); /* 背景色と同じ色を指定 */
                rotate: 135deg;
                translate: -50%;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: -8px;
                left: 50%;
                z-index:0;
                width: 15px;
                height: 15px;
                box-sizing: border-box;
                border: 2px solid;
                border-color: #333333 #333333 transparent transparent;
                background-color: #ffffff;
                rotate: 135deg;
                translate: -50%;
            }
        }
    }
}

