.articleList__item {
    list-style: none;
    width: 100%;
    margin-bottom: 30px;
    transition: .4s;
    &:hover {
        transform: translateX(20px);
    }
    &__inner {
        display: flex;
        gap: 16px;
    }

    &__title {
        font-weight: bold;
        font-size: 1.8rem;
    }

    &__text {
        width: 75%;
    }

    &__eyecatch {
        width: 25%;
        > img {
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .articleList__item {
        border: none!important;
        &__inner {
            flex-direction: column;
            gap: 8px;
        }

        &__title {
            font-weight: bold;
            font-size: 1.6rem;
        }
        &__text {
            font-size: 1.2rem;
            width: 100%;
        }

        &__eyecatch {
            width: 100%;
        }
    }
}