.breadcrumbs {
    padding: 10px 10px;
    border: solid;
    border-width: 1px 0px 1px 0px;
    width: 100vw;
    margin-bottom: 20px;
    gap: 60px;
    > ul {
        justify-content: flex-start;
        align-items: center;
        display: flex;
        gap: 40px;
        padding: 0px 60px;
        margin: 0 auto;

        > li {
            display: flex;
            align-items: center;
            gap: 10px;
            &:after {
                content: ">";
                display: block;
                transform: translateY(-3px);
            }

            &:last-child {
                &:after {
                    content: "";
                }
            }
        }
    }
}