:root {
    font-size: 62.5%;
    --text-gray-500: #333;
}

body {
    color: var(--text-gray-500);
    font-size: 1.6rem;
    letter-spacing: .04em;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
}