:root {
    font-size: 62.5%;
    --text-gray-500: #333;
    --primary-orange: #EF6262;
    --primary-blue: #1D5B79;
    --bg-white: #f8f8f8;
}
.container {
    overflow: clip;
    min-height: 100vh;
}

body {
    color: var(--text-gray-500);
    font-size: 1.6rem;
    letter-spacing: .04em;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--bg-white);
    line-height: 1.7;
}

.grid {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    background-image: url("../../public/bg-grid.png");
    z-index: -1;
    pointer-events: none;
}

.siteMain {
    position: relative;
    min-height: 600px;
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.heading--main {
    font-weight: bold;
    text-align: center;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px auto 30px;
    padding: 12px 16px;
    font-size: 3.6rem;
    border-bottom: 2px solid #333333;
    background-color: var(--bg-white);
    &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 15px;
        height: 15px;
        box-sizing: border-box;
        background-color: var(--bg-white);
        rotate: 135deg;
        translate: -50%;
    }

    &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        z-index: 0;
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        border: 2px solid;
        border-color: #333333 #333333 transparent transparent;
        background-color: #ffffff;
        rotate: 135deg;
        translate: -50%;  
    }
}

.article__main {
    * {
        margin-bottom: 2.8rem;
    }

    h2 {
        font-size: 2.6rem;
        font-weight: bold;
        background-image: linear-gradient(180deg, rgb(239, 98, 98) 0%, rgb(239, 98, 98) 50%, rgb(29, 91, 121) 50%, rgb(29, 91, 121) 100%);
        background-repeat: no-repeat;
        background-size: 10px 100%;
        background-color: #ebebeb;
        padding: 8px 20px;
        line-height: 1.6;
    }

    h3 {
        font-size: 2.2rem;
        font-weight: bold;
        background-image: linear-gradient(180deg, rgb(239, 98, 98) 0%, rgb(239, 98, 98) 50%, rgb(29, 91, 121) 50%, rgb(29, 91, 121) 100%);
        background-repeat: no-repeat;
        background-size: 10px 100%;
        background-color: #ebebeb;
        padding: 8px 20px;
    }

    h4 {
        font-size: 1.8rem;
        font-weight: bold;
    }

    h5 {
        font-size: 1.6rem;
        font-weight: bold;
    }

    strong {
        color: var(--primary-orange);
        font-weight: bold;
    }

    em {
        color: var(--primary-blue);
        font-weight: bold;
        font-style: normal;
    }

    a {
        color: var(--primary-blue);
        text-decoration: underline;
        transition: .1s;
        &:hover {
            opacity: .6;
        }
    }

    blockquote {
        padding: 40px 24px;
        border-radius: 5px;
        background: #ebebeb;
        > p {
            margin-bottom: 0;
        }
    }

    pre {
        word-break: keep-all;
        white-space: pre-wrap;
    }

    ul, ol {
        padding: 0 1.4em;
    }

    ol > li {
        margin-bottom: 0;
        list-style: decimal;
    }

    ul > li {
        margin-bottom: 0;
        list-style: disc;
    }
}

.breadcrumbs {
    padding: 10px 10px;
    border: solid;
    border-width: 1px 0px 1px 0px;
    width: 100vw;
    margin-bottom: 20px;
    gap: 60px;
    > ul {
        justify-content: flex-start;
        align-items: center;
        display: flex;
        gap: 40px;
        padding: 0px 60px;
        margin: 0 auto;

        > li {
            display: flex;
            align-items: center;
            gap: 10px;
            &:after {
                content: ">";
                display: block;
                transform: translateY(-3px);
            }

            &:last-child {
                &:after {
                    content: "";
                }
            }
        }
    }
}

.article__footer {
    .breadcrumbs {
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;
        bottom: 0;
    }
}