
.cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

@media screen and (max-width: 768px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .cards {
        grid-template-columns: 1fr;
    }
}
