
.cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    margin: 0 auto 60px;
}

@media screen and (max-width: 768px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

.inner {
    padding-top: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.inner__notFound {
    max-width: 1200px;
    padding-top: 40px;
    margin: 0 auto 60px;
    text-align: center;
}

.heading {
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    width: fit-content;
    margin: 0 auto 40px;
    padding: 12px 0px;
    border-bottom: 2px solid #333333;
    background-color: var(--bg-white);

    &:before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 15px;
        height: 15px;
        box-sizing: border-box;
        background-color: var(--bg-white); /* 背景色と同じ色を指定 */
        rotate: 135deg;
        translate: -50%;
    }

    &:after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        z-index:0;
        width: 15px;
        height: 15px;
        box-sizing: border-box;
        border: 2px solid;
        border-color: #333333 #333333 transparent transparent;
        background-color: #ffffff;
        rotate: 135deg;
        translate: -50%;
    }
}