.toc {
    font-size: 1.5rem;
    line-height: 1.6;
    top: 0;
    position: sticky;
    z-index: 0;
    height: fit-content;

    .toc-list-item > a{
        &.node-name--H3 {
            padding-left: 8px;
        }
    }
    .toc-link {
        margin-bottom: 16px;
        display: block;
        text-decoration: none;
        color: initial;
        transition: .4s;
        opacity: 1;
        &.is-active-link {
            color: var(--primary-blue);
            font-weight: bold;
        }
    }
}

.sns .sns__list {
    @extend .toc;
    display: flex;
    flex-direction: column;
    gap: 24px;
}